<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>User list</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>user</th>
            <th>password</th>
            <th>link</th>
        </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.link }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>